<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://apache.org/cordova/ns/plugins/1.0" id="com.siberia.discovery" version="0.0.1">

  <name>Discovery</name>
  <description>Discovery Description</description>
  <author>Siberia</author>
  <license>MIT License</license>
  
  <engines>
    <engine name="cordova" version=">=3.5.0" />
  </engines>
  
  <js-module src="www/discovery.js" name="discovery">
    <clobbers target="discovery" />
  </js-module>
  
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Discovery"> 
        <param name="android-package" value="com.siberia.discovery.Discovery"/>
      </feature>
    </config-file>
    <source-file src="src/android/src/com/siberia/discovery/Discovery.java" target-dir="src/siberia/discovery" />
  </platform>

</plugin>