<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0" id="com.siberia.plugin.Discovery" version="1.0.0">

    <name>Discovery</name>

  <description>
    Discovery Plugin
  </description>

  <asset src="www/DiscoveryPlugin.js" target="plugins/DiscoveryPlugin.js" />

  <engines>
    <engine name="cordova" version=">=2.7.0" />
  </engines>

  <!-- android -->
  <platform name="android">
    <config-file target="res/xml/config.xml" parent="/*">
      <feature name="Discovery">
          <param name="android-package" value="com.siberia.plugin.Discovery"/>
      </feature>
    </config-file>

    <source-file src="src/android/com/siberia/plugin/NsdHelper.java" target-dir="src/com/siberia/plugin" />
    <source-file src="src/android/com/siberia/plugin/ChatConnection.java" target-dir="src/com/siberia/plugin" />
    <source-file src="src/android/com/siberia/plugin/Discovery.java" target-dir="src/com/siberia/plugin" />
    <source-file src="src/android/com/siberia/plugin/CallbackContextHandler.java" target-dir="src/com/siberia/plugin" />
  </platform>
</plugin>
